nodered.json
[
    {
        "id": "02819f7f276b30da",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "47c61ddbbfba2c30",
        "type": "mqtt in",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "TEMPERATURE-210418C",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab0a2509d76c02a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "1940f81c8801f1ef"
            ]
        ]
    },
    {
        "id": "341567a8d33375c6",
        "type": "mqtt out",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "ON-OFF-210418C",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab0a2509d76c02a7",
        "x": 490,
        "y": 420,
        "wires": []
    },
    {
        "id": "6fe7b03604927144",
        "type": "ui_gauge",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "9ea72cb8a27ce191",
        "order": 1,
        "width": 8,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "Celsius ",
        "format": "{{value}}",
        "min": "0",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "be257bf37701d3a3",
        "type": "ui_chart",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "9ea72cb8a27ce191",
        "order": 2,
        "width": 8,
        "height": 4,
        "label": "Temperature Variation",
        "chartType": "line",
        "legend": "false",
        "xformat": "mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": "30",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "10501aae151b63cf",
        "type": "ui_switch",
        "z": "02819f7f276b30da",
        "name": "Main Switch",
        "label": "Main Switch",
        "tooltip": "",
        "group": "66536d0e218df59e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "341567a8d33375c6"
            ]
        ]
    },
    {
        "id": "3d91adbe508c2c9e",
        "type": "ui_switch",
        "z": "02819f7f276b30da",
        "name": "Schedule ON/OFF",
        "label": "Schedule Time",
        "tooltip": "",
        "group": "9960a66bd3462a07",
        "order": 3,
        "width": 8,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 530,
        "y": 600,
        "wires": [
            [
                "16eda49c7c544438"
            ]
        ]
    },
    {
        "id": "16eda49c7c544438",
        "type": "change",
        "z": "02819f7f276b30da",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 600,
        "wires": [
            [
                "282c88cdcaff6a05"
            ]
        ]
    },
    {
        "id": "e59aaf5323c041eb",
        "type": "ui_date_picker",
        "z": "02819f7f276b30da",
        "name": "",
        "label": "Input Date",
        "group": "9960a66bd3462a07",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "a5a25253f3362254"
            ]
        ]
    },
    {
        "id": "99ecf44de60d5d5e",
        "type": "ui_text_input",
        "z": "02819f7f276b30da",
        "name": "",
        "label": "Input Time",
        "tooltip": "",
        "group": "9960a66bd3462a07",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "465ea575825b6840"
            ]
        ]
    },
    {
        "id": "a5a25253f3362254",
        "type": "change",
        "z": "02819f7f276b30da",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Date",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 680,
        "wires": [
            [
                "282c88cdcaff6a05"
            ]
        ]
    },
    {
        "id": "465ea575825b6840",
        "type": "change",
        "z": "02819f7f276b30da",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Time",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 720,
        "wires": [
            [
                "282c88cdcaff6a05"
            ]
        ]
    },
    {
        "id": "282c88cdcaff6a05",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "Sheduling function",
        "func": "let isScheduled = global.get(\"isScheduled\");\nlet scheduleDate = global.get(\"Date\");\nlet scheduleTime = global.get(\"Time\");\n\nif (isScheduled && scheduleDate && scheduleTime) {\n    let scheduled_data = scheduleDate + scheduleTime;\n\n    if (Date.now() > scheduled_data) {\n        return {\n            payload: \"OLD\"\n        }\n\n    } else {\n        return {\n            payload: scedule\n        }\n    }\n} else if (isScheduled === false) {\n    return {\n        payload: \"NOT-SCHEDULED-ON\"\n    }\n} else {\n    return {\n        payload: null\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 700,
        "wires": [
            [
                "a438cffa709c5db6"
            ]
        ]
    },
    {
        "id": "a438cffa709c5db6",
        "type": "switch",
        "z": "02819f7f276b30da",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NOT-SCHEDULED-ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OLD",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 770,
        "y": 700,
        "wires": [
            [
                "203663f574d15d6b"
            ],
            [
                "0a7ca9a2ec7a7682"
            ],
            [
                "e9233046b594819d"
            ],
            [
                "4fa7416b60810ce5"
            ]
        ]
    },
    {
        "id": "203663f574d15d6b",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "Not",
        "func": "return{\n    payload:\"NOT\",\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 660,
        "wires": [
            [
                "e9e58280946fbe9a"
            ]
        ]
    },
    {
        "id": "e9233046b594819d",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "sheduled time",
        "func": "return{\n    payload:(msg.payload/1000),\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 700,
        "wires": [
            [
                "e9e58280946fbe9a"
            ]
        ]
    },
    {
        "id": "0a7ca9a2ec7a7682",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "Old time",
        "func": "return{\n    payload:\"Please Enter a Future SheduleTime\",\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 740,
        "wires": [
            [
                "ec23450212d26cc7"
            ]
        ]
    },
    {
        "id": "ec23450212d26cc7",
        "type": "ui_toast",
        "z": "02819f7f276b30da",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1130,
        "y": 760,
        "wires": []
    },
    {
        "id": "4fa7416b60810ce5",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "Invalid",
        "func": "return{\n    payload:\"Please Enter a Valid Date and Time\",\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 780,
        "wires": [
            [
                "ec23450212d26cc7"
            ]
        ]
    },
    {
        "id": "e9e58280946fbe9a",
        "type": "mqtt out",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "SCHEDULE-ON-210418C",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab0a2509d76c02a7",
        "x": 1130,
        "y": 640,
        "wires": []
    },
    {
        "id": "12ecd1fd290f9353",
        "type": "mqtt in",
        "z": "02819f7f276b30da",
        "name": "ON-OFF-ESP-210418C",
        "topic": "ON-OFF-ESP-210418C",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ab0a2509d76c02a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 420,
        "wires": [
            [
                "10501aae151b63cf"
            ]
        ]
    },
    {
        "id": "fa9dbdb6c4ec4e85",
        "type": "mqtt in",
        "z": "02819f7f276b30da",
        "name": "ON-OFF-SCHEDULE-210418C",
        "topic": "ON-OFF-SCHEDULE-210418C",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab0a2509d76c02a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 600,
        "wires": [
            [
                "33279aefd131ed9d"
            ]
        ]
    },
    {
        "id": "33279aefd131ed9d",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "Shedule ON",
        "func": "return{\n    payload:msg.payload === 1 ,\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 600,
        "wires": [
            [
                "3d91adbe508c2c9e"
            ]
        ]
    },
    {
        "id": "5ad45ba608a270c6",
        "type": "mqtt in",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "RIGHT_LIGHT-210418C",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab0a2509d76c02a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "8cc64b22256e071c"
            ]
        ]
    },
    {
        "id": "b49c663159498872",
        "type": "mqtt in",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "LEFT_LIGHT-210418C",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab0a2509d76c02a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "a65be6b222e0a6ab"
            ]
        ]
    },
    {
        "id": "d402c571949ecf4c",
        "type": "ui_chart",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "01acc8efbdc4bbe7",
        "order": 3,
        "width": 8,
        "height": 3,
        "label": "Max-Light Intensity Indicator",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#27be69",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0e7fb7e2655190a9",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "Right",
        "func": "return {payload: msg.payload,\ntopic:\"Right\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 80,
        "wires": [
            [
                "d402c571949ecf4c",
                "3371254ceb19b4c8",
                "21d47813ecb85b8c"
            ]
        ]
    },
    {
        "id": "6402d1fa9e527d67",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "Left",
        "func": "return {payload: msg.payload,\ntopic:\"Left\"};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "d402c571949ecf4c",
                "4d1010fa017322c6",
                "21d47813ecb85b8c"
            ]
        ]
    },
    {
        "id": "3371254ceb19b4c8",
        "type": "change",
        "z": "02819f7f276b30da",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RIGHT_LDR",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 160,
        "wires": [
            [
                "aa8337dad5a0f0df"
            ]
        ]
    },
    {
        "id": "4d1010fa017322c6",
        "type": "change",
        "z": "02819f7f276b30da",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LEFT_LDR",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 200,
        "wires": [
            [
                "aa8337dad5a0f0df"
            ]
        ]
    },
    {
        "id": "aa8337dad5a0f0df",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "LIGHT INTENSITY CHECK",
        "func": "let right_LDR = global.get(\"RIGHT_LDR\");\nlet left_LDR = global.get(\"LEFT_LDR\");\n\nlet max_intensity = right_LDR;\n\nif(left_LDR>max_intensity){\n    max_intensity= left_LDR;\n}\n\nreturn{\npayload:max_intensity\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 180,
        "wires": [
            [
                "fb9981a876657fc3"
            ]
        ]
    },
    {
        "id": "fb9981a876657fc3",
        "type": "ui_gauge",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "01acc8efbdc4bbe7",
        "order": 1,
        "width": 8,
        "height": 3,
        "gtype": "gage",
        "title": "Maximum Light Intensity",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "21d47813ecb85b8c",
        "type": "ui_chart",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "01acc8efbdc4bbe7",
        "order": 2,
        "width": 8,
        "height": 4,
        "label": "Light Intensity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "cc6914e2790b6816",
        "type": "ui_slider",
        "z": "02819f7f276b30da",
        "name": "",
        "label": "Min Angle",
        "tooltip": "",
        "group": "e070ec4085e2b2a2",
        "order": 3,
        "width": 8,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "ANGLE-210418C",
        "topicType": "str",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 500,
        "y": 480,
        "wires": [
            [
                "e92d0a151ff5cf60"
            ]
        ]
    },
    {
        "id": "21ac450b8e3c8b3c",
        "type": "ui_slider",
        "z": "02819f7f276b30da",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "e070ec4085e2b2a2",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "CONTROLLING-FACTOR-210418C",
        "topicType": "str",
        "min": 0,
        "max": "1",
        "step": "0.05",
        "className": "",
        "x": 510,
        "y": 540,
        "wires": [
            [
                "d6fe2f7ba1262aec"
            ]
        ]
    },
    {
        "id": "e92d0a151ff5cf60",
        "type": "mqtt out",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "ANGLE-210418C",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab0a2509d76c02a7",
        "x": 690,
        "y": 480,
        "wires": []
    },
    {
        "id": "d6fe2f7ba1262aec",
        "type": "mqtt out",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "CONTROLLING-FACTOR-210418C",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab0a2509d76c02a7",
        "x": 790,
        "y": 540,
        "wires": []
    },
    {
        "id": "68b91425f4bbba54",
        "type": "ui_dropdown",
        "z": "02819f7f276b30da",
        "name": "",
        "label": "Tablet Selections",
        "tooltip": "",
        "place": "Select option",
        "group": "e070ec4085e2b2a2",
        "order": 1,
        "width": 8,
        "height": 2,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Penadol",
                "value": "Penadol",
                "type": "str"
            },
            {
                "label": "Amoxicillin",
                "value": "Amoxicillin",
                "type": "str"
            },
            {
                "label": "Vitamin C",
                "value": "Vitamin C",
                "type": "str"
            },
            {
                "label": "Zincovit",
                "value": "Zincovit",
                "type": "str"
            },
            {
                "label": "Custom Options",
                "value": "Custom Options",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "0afb201f73b83f68",
                "c40e124308434e4c"
            ]
        ]
    },
    {
        "id": "0afb201f73b83f68",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "Min angle function",
        "func": "if(msg.payload==\"Penadol\"){\n    return {payload:50};\n} else if (msg.payload == \"Amoxicillin\"){\n    return {payload:70};\n} else if (msg.payload == \"Vitamin C\"){\n    return {payload:90};\n} else if (msg.payload == \"Zincovit\"){\n    return {payload:120};\n}else{\n    return {payload:30};\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 480,
        "wires": [
            [
                "cc6914e2790b6816"
            ]
        ]
    },
    {
        "id": "c40e124308434e4c",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "control factor function",
        "func": "if(msg.payload == \"paracetamol\"){\n    return {payload:0.58};\n} else if (msg.payload == \"Amoxicillin\"){\n    return { payload: 0.1 };\n}else if (msg.payload == \"Citalopram\"){\n    return { payload: 0.23};\n}else if (msg.payload == \"Metformin\"){\n    return { payload: 0.8 };\n}else{\n    return { payload: 0.75};\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 540,
        "wires": [
            [
                "21ac450b8e3c8b3c"
            ]
        ]
    },
    {
        "id": "8cc64b22256e071c",
        "type": "delay",
        "z": "02819f7f276b30da",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "4",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "0e7fb7e2655190a9"
            ]
        ]
    },
    {
        "id": "a65be6b222e0a6ab",
        "type": "delay",
        "z": "02819f7f276b30da",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "4",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "6402d1fa9e527d67"
            ]
        ]
    },
    {
        "id": "1940f81c8801f1ef",
        "type": "delay",
        "z": "02819f7f276b30da",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "4",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 240,
        "wires": [
            [
                "6fe7b03604927144",
                "be257bf37701d3a3"
            ]
        ]
    },
    {
        "id": "ab0a2509d76c02a7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9ea72cb8a27ce191",
        "type": "ui_group",
        "name": "Temperature ",
        "tab": "51ba7f1114addb00",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "66536d0e218df59e",
        "type": "ui_group",
        "name": "Main Switch",
        "tab": "51ba7f1114addb00",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9960a66bd3462a07",
        "type": "ui_group",
        "name": "Time Shedule",
        "tab": "51ba7f1114addb00",
        "order": 6,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "01acc8efbdc4bbe7",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "51ba7f1114addb00",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e070ec4085e2b2a2",
        "type": "ui_group",
        "name": "Shade Control",
        "tab": "51ba7f1114addb00",
        "order": 5,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "51ba7f1114addb00",
        "type": "ui_tab",
        "name": "Smart Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]